[submodule "external/GAEL"]
	path = external/GAEL
	url = https://github.com/Fabmat1/GAEL
[submodule "external/rv_mcmc"]
	path = external/rv_mcmc
	url = git@github.com:Fabmat1/RV_MCMC.git
[submodule "external/lightcurvequery"]
	path = external/lightcurvequery
	url = https://github.com/Fabmat1/lightcurvequery
[submodule "external/SEDplusplus"]
	path = external/SEDplusplus
	url = https://github.com/Fabmat1/SEDplusplus
